<div id="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <ul class="">
                    <li class="">
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li class="">
                        <a href="{% url 'hiw' %}">How It Works</a>
                    </li>
                    <li class="">
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="span4">
                <ul class="">
                    <li class="">
                        <a href="{% url 'privacy' %}">Privacy</a>
                    </li>
                    <li class="">
                        <a href="{% url 'tos' %}">Terms of Service</a>
                    </li>
                </ul>
            </div>
            <div class="span4">
                <ul class="">
                    <li class="">
                        <a href="">Facebook</a>
                    </li>
                    <li class="">
                        <a href="">Twitter</a>
                    </li>
                    <li class="">
                        <a href="">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
