<div id="footer">
    <div class="container">
        <div class="row">
            <div class="span3">
                <img src="" alt="">
                <!-- <h1 style="margin-top: 0">Shiftor</h1> -->
                <img src="{{ STATIC_URL }}images/logo-gray.png" style="margin-top:13px" width=160>
            </div>
            <div class="span3">
                <ul class="">
                    <li class="title">
                        Company
                    </li>
                    <li class="">
                        <a href="{% url 'hiw' %}">How It Works</a>
                    </li>
                    <li class="">
                        <a href="mailto:general@shiftor.com?sqs_title=Drop+us+a+line">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="">
                    <li class="title">
                        Policies
                    </li>
                    <li class="">
                        <a href="{% url 'privacy' %}">Privacy</a>
                    </li>
                    <li class="">
                        <a href="{% url 'tos' %}">Terms of Service</a>
                    </li>
                </ul>
            </div>
            <div class="span3">
                <ul class="">
                    <li class="title">
                        Connect With Us
                    </li>
                    <li class="">
                        <a href="">Facebook</a>
                    </li>
                    <li class="">
                        <a href="">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
