<!-- Navbar  -->
<div class="navbar navbar-fixed-top" id="homepage-navbar">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{% url 'home' %}"><img src="{{ STATIC_URL }}images/logo-gray-teal-2.png" width=100 style="margin-bottom: -5px"></a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right" style="margin-top: 7px">
                    <li {% if current == "hiw" %} class="active" {% endif %}>
                        <a href="{% url 'hiw' %}">How It Works</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'search' %}">Search</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ user.picture }}" class="img-circle" width=100> {{ user.first_name }}&nbsp;<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'sv-profile' %}">Edit Profile</a></li>
                        {% if user.is_bar %}
                        <li><a href="{% url 'sv-payment' %}">Payment</a></li>
                        {% else %}
                        <li><a href="{% url 'tel-list-numbers' %}">Phone Alerts</a></li>
                        {% endif %}
                        <li><a href="{% url 'sv-logout' %}">Logout</a></li>
                      </ul>
                    </li>
                    {% else %}
                    <li {% if current == "contact" %} class="active" {% endif %}>
                        <a href="{% url 'sv-toggle' to='bar' %}?next={% url 'sv-signup' %}">Are You a Venue Manager?</a>
                    </li>
                    <li class="">
                        <a href="{% url 'sv-login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar -->

