<!-- Navbar  -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                    </ul>
                </div>
                <a style="text-decoration:none" class="brand" href="#">LOGO HERE</a>
            </div>
        </div>
    </div>
<!-- End Navbar -->

<script>

jQuery(function ($) {
    var currentUrlPath = window.location.pathname
    var currentUrlParts = currentUrlPath.split("/")
    var currentPage = currentUrlParts[1]
    $("li", ".nav").removeClass("active")
    $("#" + currentPage).addClass("active")
})

</script>