{% extends "layouts/bare_base.html" %}

{% block content %}

<div class="container">
    <h1 class="uppercase centered">Shiftor</h1>
    <h3 class="centered">Complete Profile</h3>
    <!-- <div class="span12"> -->
        <center>
        <form class="complete-profile-form" method="POST">

            {% csrf_token %}
            <ul class="span4 offset4">
            {% for e in form.non_field_errors %}
                <li>{{ e }}</li>
            {% endfor %}
            {% for field in form %}
                {% if field.errors %}
                    {% for e in field.errors %}
                        <li style="color:red">{{ field.label }} - {{ e }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>

            <br>

            <input type="text" placeholder="venue name" name="venue_name" value="{{ form.venue_name.value|default_if_none:"" }}" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>

            <input type="text" placeholder="website url" name="website" value="{{ form.website.value|default_if_none:"" }}" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>

            <a class="open-button small-button" id="js-choose-logo">Choose Picture</a><br><br>
            <input type="hidden" name="logo" id="id_photo" value="{{ form.logo.value|default_if_none:"" }}"></input>

            <img src="{% if form.logo.value %}{{ form.logo.value }}{% else %}http://placehold.it/200x200{% endif %}" id="photo" height="200" width="200" class="img-polaroid"><br><br>

            <h5>Address of Venue</h5>
            <input type="text" placeholder="Street" name="address_1" value="{{ form.address_1.value|default_if_none:"" }}" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>

            <input type="text" placeholder="City" name="city" value="{{ form.city.value|default_if_none:"" }}" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>

            <input type="text" placeholder="State" name="state" value="{{ form.state.value|default_if_none:"" }}" class="span4 input-large" style="text-align:center; margin-left: 0"></input><br>

            <h5>Type of Venue<h5>
            {{form.venue_type}}<br>

            <h5>Social Media</h5>
            <input type="text" name="facebook_link" value="{{ form.facebook_link.value|default_if_none:"" }}" placeholder="Facebook Link" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
            <input type="text" name="twitter_link" value="{{ form.twitter_link.value|default_if_none:"" }}" placeholder="Twitter Link" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
            <input type="text" name="instagram_link" value="{{ form.instagram_link.value|default_if_none:"" }}" placeholder="Instagram Link" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>



            <br><br><center><button type="submit" class="open-button">Submit</button></center>
        </form>
    <!-- </div> -->
</div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-states.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-states.en_US.js"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-phone-format.js"></script> -->
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-phone.js"></script>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>

<script type="text/javascript">

$(function() {

    filepicker.setKey('Aj0NKus78Tna46Cgz3Qz4z');

    $("#js-choose-logo").on("click", function() {

        filepicker.pick({
            mimetypes: ['image/*', 'text/plain'],
            container: 'window',
            services:['COMPUTER', 'FACEBOOK', 'GMAIL'],
          },
          function(InkBlob){
            var u = InkBlob.url
            $("#id_photo").val(u)
            $("#photo").attr("src", u)
          },
          function(FPError){
            alert("There was an error uploading your file, please try again.")
          }
        );

    })

    $('input').prettyCheckable()

})

</script>



{% endblock %}

