{% extends "layouts/bare_base.html" %}

{% block content %}

<div class="container">
    <h1 class="uppercase centered">Shiftor</h1>
    <p>Are you a venue manager? <a href="">Sign Up Here</a></p>
    <h4 class="uppercase centered">Bar Employee Signup</h4>
    <!-- <div class="span12"> -->
        <center>
        <form method="POST">
            {% csrf_token %}

            <ul class="span4 offset4">
            {% for e in form.non_field_errors %}
                <li>{{ e }}</li>
            {% endfor %}
            {% for field in form %}
                {% if field.errors %}
                    {% for e in field.errors %}
                        <li style="color:red">{{ field.label }} - {{ e }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>


            <input type="text" placeholder="first name" class="span4 input-large uppercase" style="text-align:center; margin-left: 0" value="{{ form.first_name.value|default_if_none:"" }}" name="first_name"></input><br>


            <input type="text" placeholder="last name" class="span4 input-large uppercase" style="text-align:center; margin-left: 0" value="{{ form.last_name.value|default_if_none:"" }}" name="last_name"></input><br>

            <input type="text" placeholder="email" class="span4 input-large uppercase" style="text-align:center; margin-left: 0" value="{{ form.email.value|default_if_none:"" }}" name="email"></input><br>

            <input type="password" placeholder="password" class="span4 input-large uppercase" style="text-align:center" value="" name="password"></input>

            <div class="terms-acceptance">
                <input type="checkbox" class="input-large uppercase" id="terms" name="terms" value="{{ form.email.value|default_if_none:False }}"></input>
                <label for="terms" style="display: inline;">I've reviewed and accepted the
                    <a href="{% url 'frontend.views.tos' %}" target="_blank">terms and conditions</a> and
                    <a href="{% url 'frontend.views.privacy' %}" target="_blank">privacy policy</a>.</label>
            </div>

            <br><br><center><button type="submit" class="open-button">Sign Up</button></center>
        </form>
        OR
        <br><br><center><a href="{% url 'sv-login-out' out='facebook' %}" class="open-button">
        Connect with Facebook</a><br><br>
        <p>Have an account? <a href="{% url 'sv-login' %}">Log In</a></p>
        </center>
    <!-- </div> -->
</div>

{% endblock %}