{% extends "layouts/bare_base.html" %}

{% block content %}


    <p class="centered">Are you a venue manager? <a href="{% url 'sv-toggle' to='bar' %}?next={% firstof request.path '' %}">Sign Up Here</a></p>
    <h4 class="uppercase centered">Bar Employee Signup</h4>
    <!-- <div class="span12"> -->
        <form method="POST">
            {% csrf_token %}

            <ul class="span4 offset4">
            {% for e in form.non_field_errors %}
                <li>{{ e }}</li>
            {% endfor %}
            {% for field in form %}
                {% if field.errors %}
                    {% for e in field.errors %}
                        <li style="color:red">{{ field.label }} - {{ e }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>
            <div class="clearfix"></div>


            <input type="text" placeholder="first name" class="span4 input-large uppercase" style="text-align:center; margin-left: 0" value="{{ form.first_name.value|default_if_none:"" }}" name="first_name"></input><br>


            <input type="text" placeholder="last name" class="span4 input-large uppercase" style="text-align:center; margin-left: 0" value="{{ form.last_name.value|default_if_none:"" }}" name="last_name"></input><br>

            <input type="text" placeholder="email" class="span4 input-large uppercase" style="text-align:center; margin-left: 0" value="{{ form.email.value|default_if_none:"" }}" name="email"></input><br>

            <input type="password" placeholder="password" class="span4 input-large uppercase" style="text-align:center" value="" name="password"></input>

            <br><br><button type="submit" class="open-button">Sign Up</button>
        </form>
        OR
        <br><br><a href="{% url 'sv-login-out' out='facebook' %}" class="open-button">
        Connect with Facebook</a><br><br>
        <p>Have an account? <a href="{% url 'sv-login' %}">Log In</a></p>

{% endblock %}