{% extends "layouts/bare_base.html" %}

{% block content %}

<div class="container">
    <h1 class="uppercase centered">Shiftor</h1>
    <h4 class="uppercase centered">Bar Manager Signup</h4>
    <!-- <div class="span12"> -->
        <center>
        <form>
            <input type="text" placeholder="name" name="name" value="{{ form.name.value }}" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
            <input type="text" placeholder="venue name" name="venue_name" value="{{ form.venue_name.value }}" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
            <input type="text" placeholder="EMAIL" name="email" value="{{ form.email.value }}" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
            <input type="password" placeholder="PASSWORD" name="password" value="" class="span4 input-large uppercase" style="text-align:center"></input>
            <br><br><center><a href="" class="open-button">Sign up</a></center>
        </form>
        <p>Have an account? <a href="">Log In</a></p>
        <p>Are you looking for a job at a bar? <a href="">Sign Up Here</a></p>
        </center>
    <!-- </div> -->
</div>

{% endblock %}

