{% extends "layouts/static_page.html" %}

{% block static_title %}Participating Bars &amp; Restaurants{% endblock %}

{% block static_content %}
<style>
.bar-logo {
    margin-bottom: 10px;
}
</style>
<div class="row" style="margin-bottom: 50px">
    <div class="span4 bar-logo">
        <img src="http://www.villagepourhouse.com/images/pourhouse_logo_bar.jpg" class="img-polaroid">
    </div>
    <div class="span4 bar-logo">
        <img src="http://placehold.it/300x150" class="img-polaroid">
    </div>
    <div class="span4 bar-logo">
        <img src="http://placehold.it/300x150" class="img-polaroid">
    </div>
    <div class="span4 bar-logo">
        <img src="http://placehold.it/300x150" class="img-polaroid">
    </div>
    <div class="span4 bar-logo">
        <img src="http://placehold.it/300x150" class="img-polaroid">
    </div>
    <div class="span4 bar-logo">
        <img src="http://placehold.it/300x150" class="img-polaroid">
    </div>
</div>

{% endblock %}