{% extends "layouts/bare_base.html" %}

{% block content %}

<div class="container">
    <h1 class="uppercase centered">Shiftor</h1>
    <h4 class="uppercase centered">Bar Employee Signup</h4>
    <!-- <div class="span12"> -->
        <center>
        <form>
            <input type="text" placeholder="name" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>

            <input type="text" placeholder="email" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>

            <input type="password" placeholder="password" class="span4 input-large uppercase" style="text-align:center"></input>

            <br><br><center><a href="" class="open-button">Sign Up</a></center>
        </form>
        OR
        <br><br><center><a href="" class="open-button">
        Connect with Facebook</a><br><br>
        <p>Have an account? <a href="">Log In</a></p>
        <p>Are you a bar manager? <a href="">Sign Up Here</a></p>
        </center>
    <!-- </div> -->
</div>

{% endblock %}

