{% extends "layouts/bare_base.html" %}

{% block content %}

<div class="container">
    <h1 class="uppercase centered">Shiftor</h1>
    <h3 class="centered">Complete Profile</h3>
    <!-- <div class="span12"> -->
        <center>
        <form class="complete-profile-form">
            <input type="text" placeholder="Name" class="span4 input-large" style="text-align:center; margin-left: 0"></input><br>
            <input type="text" placeholder="EMAIL" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
            
            <h5> Gender</h5>
            <select>
            	<option value="" disabled selected>-select-</option>
  				<option>Male</option>
			  	<option>Female</option>
			</select><br>
            <select class="input-medium bfh-states" data-country="US" data-state="NY"></select><br>
 			
 			<h5>Phone Number</h5>
            <input type="text" class="input-medium bfh-phone span4" data-format="+1 (ddd) ddd-dddd"></input><br>     
            <button class="open-button" id="js-choose-logo">Choose Picture</button><br>
            
            <h5>Work Experience</h5>
            <input type="text" placeholder="Place of Work" class="span3 input-large"></input>
	        <select class="span2">
            	<option value="" disabled selected>Job</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<input type="text" placeholder="Place of Work" class="span3 input-large"></input>
	        <select class="span2">
            	<option value="" disabled selected>Job</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<input type="text" placeholder="Place of Work" class="span3 input-large"></input>
	        <select class="span2">
            	<option value="" disabled selected>Job</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<input type="text" placeholder="Place of Work" class="span3 input-large"></input>
	        <select class="span2">
            	<option value="" disabled selected>Job</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<input type="text" placeholder="Place of Work" class="span3 input-large"></input>
	        <select class="span2">
            	<option value="" disabled selected>Job</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<h5>Number of Years in your Primary Industry<h5>	        
	        <select>
            	<option value="" disabled selected>-select-</option>
  				<option>1</option>
			  	<option>2</option>
			  	<option>3</option>
			  	<option>4</option>
			  	<option>5</option>
			  	<option>5+</option>
			</select><br>

			<h5>Preference of Work Atmosphere</h5>
			<div class="profile-checkbox">
				<label class="checkbox span2">
    				<input type="checkbox"> Wine Bar
  				</label><br>
				<label class="checkbox span2">
    				<input type="checkbox"> Club
  				</label><br>
  				<label class="checkbox span2">
    				<input type="checkbox"> Lounge
  				</label><br>
	  			<label class="checkbox span2">
	    			<input type="checkbox"> Sports Bar/ Pub
	  			</label><br>
	  			<label class="checkbox span2">
	    			<input type="checkbox"> High-End Bar/ Restaurant
	  			</label><br>
	  			<label class="checkbox span2">
	    			<input type="checkbox"> Catering Hall/ Event Space
	  			</label><br>
  			</div><BR>

  			<h5>Shift Availability</h5>
  			<label class="checkbox inline">
			  <input type="checkbox" id="inlineCheckbox1" value="option1"> S
			</label>
			<label class="checkbox inline">
			  <input type="checkbox" id="inlineCheckbox2" value="option2"> M
			</label>
			<label class="checkbox inline">
			  <input type="checkbox" id="inlineCheckbox3" value="option3"> T
			</label>
			<label class="checkbox inline">
			  <input type="checkbox" id="inlineCheckbox1" value="option1"> W
			</label>
			<label class="checkbox inline">
			  <input type="checkbox" id="inlineCheckbox2" value="option2"> T
			</label>
			<label class="checkbox inline">
			  <input type="checkbox" id="inlineCheckbox3" value="option3"> F
			</label>
			<label class="checkbox inline">
			  <input type="checkbox" id="inlineCheckbox3" value="option3"> S
			</label>
			
			<h5>Elevator Speech</h5>
			<textarea class="span5" rows="12" maxlength="500"></textarea>

			<h5>Job Interests &amp; Experience (rank by preference)</h5>
			<select>
            	<option value="" disabled selected>-1st-</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<select>
            	<option value="" disabled selected>-2nd-</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<select>
            	<option value="" disabled selected>-3rd-</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<select>
            	<option value="" disabled selected>-4th-</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>





            <br><br><center><a href="" class="open-button">Submit</a></center>
        </form>
    <!-- </div> -->
</div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-states.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-states.en_US.js"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-phone-format.js"></script> -->
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-phone.js"></script>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>

<script type="text/javascript"> 

$(function() {

	filepicker.setKey('Aj0NKus78Tna46Cgz3Qz4z');
	
	$("#js-choose-logo").on("click", function() {
		
		filepicker.pick({
		    mimetypes: ['image/*', 'text/plain'],
		    container: 'window',
		    services:['COMPUTER', 'FACEBOOK', 'GMAIL'],
		  },
		  function(InkBlob){
		  	console.log("file", InkBlob)
		    console.log(JSON.stringify(InkBlob));
		  },
		  function(FPError){
		    console.log(FPError.toString());
		  }
		);

	})

})

</script>

{% endblock %}
