{% extends "layouts/bare_base.html" %}

{% block content %}

<div class="container">
    <h1 class="uppercase centered">Shiftor</h1>
    <h3 class="centered">Complete Profile</h3>
    <!-- <div class="span12"> -->
        <center>
        <form class="complete-profile-form">
            <input type="text" placeholder="Name" class="span4 input-large" style="text-align:center; margin-left: 0"></input><br>
            <input type="text" placeholder="Email" class="span4 input-large" style="text-align:center; margin-left: 0"></input><br>

            <select>
            	<option value="" disabled selected>-Gender-</option>
  				<option>Male</option>
			  	<option>Female</option>
			</select><br>
            <h5>Location</h5>
            <input type="text" placeholder="City" class="span4 input-large" style="text-align:center; margin-left: 0"></input><br>
            <select class="input-medium bfh-states" data-country="US" data-state="NY"></select><br>

 			<h5>Phone Number</h5>
            <input type="text" class="input-medium bfh-phone span4" data-format="+1 (ddd) ddd-dddd"></input><br>

            <h5>Photo</h5>
            <img src="http://placehold.it/100x100" class="img-polaroid">
            <button class="open-button" id="js-choose-logo">Choose Picture</button><br><br>

            <h5>Work Experience</h5>
            <input type="text" placeholder="Place of Work" class="span3 input-large"></input>
	        <select class="span2">
            	<option value="" disabled selected>Select Job</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<input type="text" placeholder="Place of Work" class="span3 input-large"></input>
	        <select class="span2">
            	<option value="" disabled selected>Select Job</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<input type="text" placeholder="Place of Work" class="span3 input-large"></input>
	        <select class="span2">
            	<option value="" disabled selected>Select Job</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<input type="text" placeholder="Place of Work" class="span3 input-large"></input>
	        <select class="span2">
            	<option value="" disabled selected>Select Job</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<input type="text" placeholder="Place of Work" class="span3 input-large"></input>
	        <select class="span2">
            	<option value="" disabled selected>Select Job</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<h5>Number of Years in your Primary Industry</h5>
	        <select>
            	<option value="" disabled selected>-select-</option>
  				<option>1</option>
			  	<option>2</option>
			  	<option>3</option>
			  	<option>4</option>
			  	<option>5</option>
			  	<option>5+</option>
			</select><br>

            <div style="text-align:left; width:250px; margin-left: auto; margin-right: auto">
    			<h5>Preference of Work Atmosphere</h5>
                <div class="profile-checkbox" style="font-weight: normal">
                    <input type="checkbox" name="vehicle" value="Car">&nbsp;Sports Bar/Pub<br>
                    <input type="checkbox" name="vehicle" value="Car">&nbsp;Wine Bar<br>
                    <input type="checkbox" name="vehicle" value="Bike">&nbsp;Club<br>
                    <input type="checkbox" name="vehicle" value="Car">&nbsp;Lounge<br>
                    <input type="checkbox" name="vehicle" value="Bike">&nbsp;High-End Bar/Restaurant<br>
                    <input type="checkbox" name="vehicle" value="Bike">&nbsp;Catering Hall/Event Space
      			</div>
            </div>
            <br>

            <div style="text-align:left; width:135px; margin-left: auto; margin-right: auto">
      			<h5>Shift Availability</h5>
      			<input type="checkbox" name="vehicle" value="Car">&nbsp;Monday<br>
                <input type="checkbox" name="vehicle" value="Bike">&nbsp;Tuesday<br>
                <input type="checkbox" name="vehicle" value="Car">&nbsp;Wednesday<br>
                <input type="checkbox" name="vehicle" value="Car">&nbsp;Thursday<br>
                <input type="checkbox" name="vehicle" value="Bike">&nbsp;Friday<br>
                <input type="checkbox" name="vehicle" value="Bike">&nbsp;Saturday<br>
                <input type="checkbox" name="vehicle" value="Bike">&nbsp;Sunday
            </div>

            <br>

			<h5>Job Interests &amp; Experience (rank by preference)</h5>
			<select>
            	<option value="" disabled selected>-1st-</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<select>
            	<option value="" disabled selected>-2nd-</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<select>
            	<option value="" disabled selected>-3rd-</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>
			<select>
            	<option value="" disabled selected>-4th-</option>
  				<option>Bartender</option>
			  	<option>Waiter/ Waitress</option>
			  	<option>Bar Back</option>
			  	<option>Other</option>
			</select><br>

			<h5>Licensed Bartneder<h5>
			<select>
				<option value="" disabled selected>-select-</option>
  				<option>Yes</option>
			  	<option>No</option>
			</select><br>
			<img src="http://placehold.it/100x100" class="img-polaroid">
            <button class="open-button" id="js-choose-logo">Choose Picture</button><br><br>



            <h5>Elevator Speech</h5>
            <textarea class="span5" maxlength="300" rows="5" placeholder="Please provide a short bio about yourself. Limit of 300 characters."></textarea>





            <br><br><center><a href="" class="open-button">Submit</a></center>
        </form>
    <!-- </div> -->
</div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-states.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-states.en_US.js"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-phone-format.js"></script> -->
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-phone.js"></script>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/prettyCheckable.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/prettyCheckable.js"></script>

<script type="text/javascript">

$(function() {

    // $("input[type=checkbox]").prettyCheckable({
    //     color: "red"
    // })

	filepicker.setKey('Aj0NKus78Tna46Cgz3Qz4z');

	$("#js-choose-logo").on("click", function() {

		filepicker.pick({
		    mimetypes: ['image/*', 'text/plain'],
		    container: 'window',
		    services:['COMPUTER', 'FACEBOOK', 'GMAIL'],
		  },
		  function(InkBlob){
		  	console.log("file", InkBlob)
		    console.log(JSON.stringify(InkBlob));
		  },
		  function(FPError){
		    console.log(FPError.toString());
		  }
		);

	})

})

</script>

{% endblock %}
