{% extends "layouts/bare_base.html" %}

{% block content %}

<div class="container">
    <h1 class="uppercase centered">Shiftor</h1>
    <h3 class="centered">Complete Profile</h3>
    <!-- <div class="span12"> -->
        <center>
        <form>
            <input type="text" placeholder="Name" class="span4 input-large" style="text-align:center; margin-left: 0"></input><br>

            <br><br><center><a href="" class="open-button">Submit</a></center>
        </form>
    <!-- </div> -->
</div>

{% endblock %}

