{% extends "layouts/bare_base.html" %}

{% block content %}

<div class="container">
    <h1 class="uppercase centered">Shiftor</h1>
    <h4 class="centered">Complete Profile</h4>
    <!-- <div class="span12"> -->
        <center>
        <form class="complete-profile-form">
            <input type="text" placeholder="name" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
            <input type="text" placeholder="venue name" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
            <input type="text" placeholder="EMAIL" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
            <input type="text" placeholder="website url" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
            <button class="open-button" id="js-choose-logo">Choose Bar Logo</button><br><br>
            <img src="http://placehold.it/295x200" class="img-polaroid"><br>

            <h5>Address of Venue</h5>
            <input type="text" placeholder="Street" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
            <input type="text" placeholder="City" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
            <select class="input-medium bfh-states" data-country="US" data-state="NY"></select><br>
            <h5>Phone Number</h5>
            <input type="text" class="input-medium bfh-phone span4" data-format="+1 (ddd) ddd-dddd"></input><br>
            <h5>Type of Venue<h5>
            <select>
            	<option value="" disabled selected>Select your option</option>
  				<option>Sports Bar/ Pub</option>
			  	<option>Lounge</option>
			  	<option>Club</option>
			  	<option>High-End Bar/ Restaurant</option>
			  	<option>Wine Bar</option>
			  	<option>Catering Hall/ Event Spaces</option>
			</select><br>
			<h5>Social Media</h5>
			<input type="text" placeholder="Facebook Link" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
			<input type="text" placeholder="Twitter Link" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>
			<input type="text" placeholder="Instagram Link" class="span4 input-large uppercase" style="text-align:center; margin-left: 0"></input><br>



            <br><br><center><a href="" class="open-button">Submit</a></center>
        </form>
    <!-- </div> -->
</div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-states.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-states.en_US.js"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-phone-format.js"></script> -->
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-formhelpers-phone.js"></script>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>

<script type="text/javascript">

$(function() {

	filepicker.setKey('Aj0NKus78Tna46Cgz3Qz4z');

	$("#js-choose-logo").on("click", function() {

		filepicker.pick({
		    mimetypes: ['image/*', 'text/plain'],
		    container: 'window',
		    services:['COMPUTER', 'FACEBOOK', 'GMAIL'],
		  },
		  function(InkBlob){
		  	console.log("file", InkBlob)
		    console.log(JSON.stringify(InkBlob));
		  },
		  function(FPError){
		    console.log(FPError.toString());
		  }
		);

	})

})

</script>



{% endblock %}

