{% extends "layouts/static_page.html" %}

{% block static_title %}How It Works{% endblock %}

{% block static_content %}

<p>
    Shiftor is an online social hub connecting venue managers and job seekers in the Bar &amp; Restaurant Industry. We understand that there are only so many hours in a day, and in this fast-paced industry it is nearly impossible to be informed and displayed of an opportunity exactly when it arises. Whether you are a manager looking for staff, or a job seeker looking for part or full-time work, Shiftor allows you to promote your profile to hundreds of individuals and find your next opportunity!
</p>
<p>
    We’ve created a straightforward filter system that allows managers to quickly find the most qualified candidates for what they need. By simply creating a profile, job seekers are added to our Candidate List where they can be searched by tons of bars and restaurants throughout Manhattan! Creating a staff candidate profile is completely free, and once completed managers can view your information. Our online Candidate List allows managers to search through hundreds of potential staff candidates with the touch of a button!
</p>
<p>
You’re next opportunity is waiting for you...
</p>

{% endblock %}