{% extends "layouts/homepage_base.html" %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="hero hero-home">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="row">
                            <div class="span3">
                                <!-- <img src="http://i.imgur.com/9DYxKRn.png" style="margin-top: 35px"> -->
                                <img src="{{ STATIC_URL }}images/iphone.png" width=220 height=452 style="margin-top: 35px">
                            </div>
                            <div class="span8">
                                <h1 class="centered uppercase">Find your next job</h1>
                                <h4 class="centered">Bartenders, Barbacks, Waiters, and more!</h4>
                                <center>
                                <form method="POST" action="{% url 'sv-signup' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="homepage" value="1">
                                    <input name="email" type="text" placeholder="EMAIL" class="span4 input-large uppercase" style="text-align:center"></input>
                                    <br><br><center><button type="submit" class="solid-button">I want a Job!</a></center>
                                </form>
                                </center>
                                <center>OR</center>
                                <br><center style="margin-top: 10px;"><a href="{% url 'sv-login-out' out='facebook' %}" class="solid-button">
                                Connect with Facebook</a></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="logos">
        <div class="container">
            <h1 class="centered">Some Bars that Trust Us</h1>
            <br>

            <div class="row">
                <div class="span3">
                    <img src="http://placehold.it/250x150" data-id="1" class="img-polaroid active">
                </div>
                <div class="span3">
                    <img src="http://placehold.it/250x150" data-id="2" class="img-polaroid">
                </div>
                <div class="span3">
                    <img src="http://placehold.it/250x150" data-id="3" class="img-polaroid">
                </div>
                <div class="span3">
                    <img src="http://placehold.it/250x150" data-id="4" class="img-polaroid">
                </div>
            </div>

            <br><br>
            <div class="span6 offset3">
                <div class="testimonial" data-text="1">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                    <p class="pull-right">&mdash;Josh Kehn, Village Pourhouse</p>
                    <br><br>
                </div>
                <div class="testimonial" data-text="2" style="display:none">
                    <p>
                        2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                    <p class="pull-right">&mdash;Josh Kehn, Village Pourhouse</p>
                    <br><br>
                </div>
                <div class="testimonial" data-text="3" style="display:none">
                    <p>
                        3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                    <p class="pull-right">&mdash;Josh Kehn, Village Pourhouse</p>
                    <br><br>
                </div>
                <div class="testimonial" data-text="4" style="display:none">
                    <p>
                        4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                    <p class="pull-right">&mdash;Josh Kehn, Village Pourhouse</p>
                    <br><br>
                </div>
            </div>

        </div>
    </div>

    <div class="row" id="bartenders">
        <div class="container">
            <h1 class="centered">Are you a Bartender?</h1>
            <div class="span12">
                <p>Tired of walking into establishments hoping you’ll find an opening? Still waiting for a friend or co-worker to refer you? By creating a free Shiftor Profile you will immediately be searched by tons of bars and restaurants throughout Manhattan! Whenever establishments need a position filled, they can use our services to find you. Once they do, you will be notified to contact them. Increase your opportunity with a click of a button!</p>
                <br><br><center><a href="{% url 'sv-toggle' to='bartender' %}?next={% url 'sv-signup' %}" class="open-button">Find a Job</a></center>
            </div>
        </div>
    </div>

    <div class="row" id="barmanagers">
        <div class="container">
            <h1 class="centered">Are you a Venue Manager?</h1>
            <div class="span12">
                <p>By joining Shiftor you will immediately gain access to our full list of Staff Candidates looking to work today! Creating an account is very simple, and with our easy-to-use filter options you can find the best fitting candidates for exactly what you need! Once you select which Staff Candidates you are interested in, they will immediately be notified, and they will contact you!</p>
                <br><br><center><a href="{% url 'sv-toggle' to='bar' %}?next={% url 'sv-signup' %}" class="open-button">Find Employees</a></center>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block js %}

<script type="text/javascript">

$(function () {

    var counter = 2
    setInterval(function () {
        if (counter >= 5) counter = 1
        $(".testimonial").hide()
        $(".testimonial[data-text='" + counter + "']").show()
        $(".img-polaroid").removeClass("active")
        $(".img-polaroid[data-id='" + counter++ + "']").addClass("active")
    }, 5000)

})

</script>

{% endblock %}