{% extends "layouts/base.html" %}

{% block content %}

<div class="container" id="search">
    <div class="row">
        <h4 class="" style="margin-left: 20px">Search Workers</h4>
        <a href="#message-modal" class="js-message-users pull-right open-button small-button" style="margin-top: -40px">Message Selected People</a>

        <div class="span3 box" id="filters">
            <p class="title">Gender</p>

            <input type="radio" class="data-gender" id="" name="gender" value="all" checked>&nbsp;Both<br>
            <input type="radio" class="data-gender" id="male" name="gender" value="male">&nbsp;Male<br>
            <input type="radio" class="data-gender" id="female" name="gender" value="female">&nbsp;Female
            <hr>

            <p class="title">Licensed</p>
            <input type="radio" class="data-licensed" id="" name="licensed" value="all" checked>&nbsp;Both<br>
            <input type="radio" class="data-licensed" id="licensed" name="licensed" value="yes">&nbsp;Yes<br>
            <input type="radio" class="data-licensed" id="not_licensed" name="licensed" value="no">&nbsp;No
            <hr>

            <p class="title">Age</p>
            <input type="checkbox" class="data-age" name="" value="1">&nbsp;18-22<br>
            <input type="checkbox" class="data-age" name="" value="2">&nbsp;23-29<br>
            <input type="checkbox" class="data-age" name="" value="3">&nbsp;30-39<br>
            <input type="checkbox" class="data-age" name="" value="4">&nbsp;40+<br>
           <!--  <select class="span2">
                <option>18-22</option>
                <option>23-29</option>
                <option>30-39</option>
                <option>40+</option>
            </select> -->
            <hr>
            <p class="title">Working Atmosphere</p>
            <input type="checkbox" class="data-working-atmosphere" name="workatm[]" value="s">&nbsp;Sports Bar/Pub<br>
            <input type="checkbox" class="data-working-atmosphere" name="workatm[]" value="l">&nbsp;Lounge<br>
            <input type="checkbox" class="data-working-atmosphere" name="workatm[]" value="c">&nbsp;Club<br>
            <input type="checkbox" class="data-working-atmosphere" name="workatm[]" value="h">&nbsp;High-End Bar/Restaurant<br>
            <input type="checkbox" class="data-working-atmosphere" name="workatm[]" value="w">&nbsp;Wine Bar<br>
            <input type="checkbox" class="data-working-atmosphere" name="workatm[]" value="e">&nbsp;Catering Hall/Event Spaces
            <hr>
            <p class="title">Availability</p>
            <input type="checkbox" class="data-availability" name="availability[]" value="mon">&nbsp;Monday<br>
            <input type="checkbox" class="data-availability" name="availability[]" value="tue">&nbsp;Tuesday<br>
            <input type="checkbox" class="data-availability" name="availability[]" value="wed">&nbsp;Wednesday<br>
            <input type="checkbox" class="data-availability" name="availability[]" value="thur">&nbsp;Thursday<br>
            <input type="checkbox" class="data-availability" name="availability[]" value="fri">&nbsp;Friday<br>
            <input type="checkbox" class="data-availability" name="availability[]" value="sat">&nbsp;Saturday<br>
            <input type="checkbox" class="data-availability" name="availability[]" value="sun">&nbsp;Sunday
            <hr>

            <p class="title">Occupation</p>
            <input type="radio" class="data-occupation" name="occupation" value="all" checked>&nbsp;Both<br>
            <input type="radio" class="data-occupation" name="occupation" value="student">&nbsp;Student<br>
            <input type="radio" class="data-occupation" name="occupation" value="professional">&nbsp;Professional<br>

        </div>

        <div class="span9" id="results">
            <div class="row">
                <p class="span3" style="margin-top:10px; margin-bottom: -10px">Found <span class="teal" id="visible-count"></span> Matching Profiles</p>
                <span class="pagination" style="margin: 0px">
                     <!--  <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                      </ul> -->
                </span>
                <a href="" class="js-add-all open-button small-button pull-right" style="margin-bottom: 5px">Add All to Message</a><br>
            </div>

            <div class="row">


                <div class="span9 box" data-visible="true" data-workatm="h,e" data-occupation="student" data-gender="male" data-licensed="no">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href="#profile-modal" class="js-profile-modal" data-id="1"><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender (Licensed)</i><br>
                            <i>10 years experience</i><br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box" data-visible="true" data-workatm="e" data-occupation="student" data-gender="male" data-licensed="yes">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box" data-visible="true" data-workatm="s,l,c,h" data-occupation="student" data-gender="male" data-licensed="yes">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box" data-visible="true" data-workatm="s,l,e" data-occupation="student" data-gender="male" data-licensed="yes">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box" data-visible="true" data-workatm="s,l,c,h,e" data-occupation="student" data-gender="male" data-licensed="yes">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box" data-visible="true" data-workatm="s,h,e" data-occupation="professional" data-gender="male" data-licensed="yes">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box" data-visible="true" data-workatm="s,l,c,h,w,e" data-occupation="professional" data-gender="male" data-licensed="yes">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box" data-visible="true" data-workatm="s,l,c,h,w,e" data-occupation="student" data-gender="female" data-licensed="no">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box" data-visible="true" data-workatm="s,l,c,h,w,e" data-occupation="student" data-gender="female" data-licensed="no">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box" data-visible="true" data-workatm="s,l,c,h,w,e" data-occupation="student" data-gender="female" data-licensed="no">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href="#profile-modal" class="js-profile-modal" data-id="2"><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <span class="pagination pull-right" style="float:right; margin: 0px">
                      <!-- <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                      </ul> -->
                </span>



            </div>


        </div>
    </div>
</div>


<!-- Profile Modal -->
<div id="profile-modal" style='z-index: 5000' class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <!--  <div class="modal-header">
    <h3 id="myModalLabel"></h3>
  </div> -->
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
        <div class="span8 info">
            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid pull-right" style="margin-right: 10px">
            <h3>Anthony Tumbiolo</h3>
            <!-- <h4>Personal Info</h4> -->
            <p><strong>Age:</strong> 24</p>
            <p><strong>Student/Professional:</strong> Student</p>
            <p><strong>Availability: </strong>Monday, Tuesday, Wednesday</p>
            <p><strong>Work Place Preference: </strong> Sports Bar/Pub, Lounge,Club,High-End Bar/Restaurant, Wine Bar, Catering Hall/Event Spaces</p>
            <p><strong>Job Interest: </strong> Bartender, Waiter, Bar Back, Other</p>
            <p><strong>Years in Industry: </strong> 2</p>
            <p><strong>Licensed Bartender: </strong> No</p>
            <p><strong>Bio:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>



            <br>
            <h4>Work Experience</h4>
            <p>
                <strong>Place: </strong>Village Pourhouse<br>
                <strong>Job: </strong>Bartender
            </p>
            <p>
                <strong>Place: </strong>Village Pourhouse<br>
                <strong>Job: </strong>Bartender
            </p>
            <p>
                <strong>Place: </strong>Village Pourhouse<br>
                <strong>Job: </strong>Bartender
            </p>
            <p>
                <strong>Place: </strong>Village Pourhouse<br>
                <strong>Job: </strong>Bartender
            </p>
            <p>
                <strong>Place: </strong>Sidebar<br>
                <strong>Job: </strong>Waiter
            </p>

        </div>
  </div>
</div>

<!-- Message Modal -->
<div id="message-modal" style='z-index: 5000' class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
    <h3 id="myModalLabel">Send Message</h3>
  </div>
  <div class="modal-body">
    <form>

        <p class="title">Days Needed</p>
        <input type="checkbox" name="vehicle" value="Car">&nbsp;Monday&nbsp;&nbsp;
        <input type="checkbox" name="vehicle" value="Bike">&nbsp;Tuesday&nbsp;&nbsp;
        <input type="checkbox" name="vehicle" value="Car">&nbsp;Wednesday&nbsp;&nbsp;
        <input type="checkbox" name="vehicle" value="Car">&nbsp;Thursday&nbsp;&nbsp;
        <input type="checkbox" name="vehicle" value="Bike">&nbsp;Friday&nbsp;&nbsp;
        <input type="checkbox" name="vehicle" value="Bike">&nbsp;Saturday&nbsp;&nbsp;
        <input type="checkbox" name="vehicle" value="Bike">&nbsp;Sunday&nbsp;&nbsp;

        <br>
        <br>
        <p class="title">Is this a one-time job or repeating?</p>
        <input type="radio" name="sex" value="male">&nbsp;One-time<br>
        <input type="radio" name="sex" value="female">&nbsp;Repeating

        <br><br>
<!--
        <p class="title">Type of Place</p>
        <select>
            <option>Sports Bar/Pub</option>
            <option>Lounge</option>
            <option>Club</option>
            <option>High-End Bar/Restaurant</option>
            <option>Wine Bar</option>
            <option>Catering Hall/Event Space</option>
        </select>

        <br><br> -->

        <p class="title">Job Type</p>
        <select>
            <option>Bartender</option>
            <option>Waiter/Waitress</option>
            <option>Bar Back</option>
            <option>Other (provide name in description)</option>
        </select>

        <br><br>

        <p class="title">Additional Details?</p>
        <textarea class="span6" maxlength="160" placeholder="Provide any additional details here. 160 characters max."></textarea>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}

<!-- Pagination -->
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-paginator.min.js"></script>

<script type="text/javascript">

$(function () {

    var $body = $("body")
    var $addMessageBtn = $(".js-add-message")
    var $messageUsersBtn = $(".js-message-users")

    $body.on("click", ".js-add-all", add_all)
    $body.on("click", ".js-all-selected", remove_all)
    $body.on("click", ".js-add-message", add_to_list)
    $body.on("click", ".js-selected", remove_from_list)
    $body.on("click", ".js-message-users", message_users)
    $body.on("click", ".js-profile-modal", showProfileModal)

    function add_all (e) {
        e.preventDefault()
        $(this).addClass("solid-button").addClass("js-all-selected").text("Remove All From Message")
        $addMessageBtn.addClass("solid-button").addClass("js-selected").text("Added")

        // Highlight Message Button
        $messageUsersBtn.addClass("complement-button-selected")

        if ($(".js-selected").length == 1) {
            $messageUsersBtn.text("Message 1 Person")
        } else {
            $messageUsersBtn.text("Message " + $(".js-selected").length + " People")
        }

    }

    function remove_all (e) {
        e.preventDefault()
        $(this).removeClass("solid-button").removeClass("js-all-selected").text("Add All to Message")
        $addMessageBtn.removeClass("solid-button").removeClass("js-selected").text("Add to Message")

        // Remove Highlight Message Button
        $messageUsersBtn.removeClass("complement-button-selected")

        if ($(".js-selected").length == 1) {
            $messageUsersBtn.text("Message 1 Person")
        } else {
            $messageUsersBtn.text("Message " + $(".js-selected").length + " People")
        }
    }

    function add_to_list (e) {
        e.preventDefault()
        $(this).addClass("solid-button").addClass("js-selected").text("Added")

        // Highlight Message Button
        $messageUsersBtn.addClass("complement-button-selected")

        if ($(".js-selected").length == 1) {
            $messageUsersBtn.text("Message 1 Person")
        } else {
            $messageUsersBtn.text("Message " + $(".js-selected").length + " People")
        }

    }

    function remove_from_list (e) {
        e.preventDefault()
        $(this).removeClass("solid-button").removeClass("js-selected").text("Add to List")

        // Check length of messagUsersBtn to see if any selected anymore
        // If length == 0 Remove Highlight Message Button
        if ($(".js-selected").length == 0) {
            $messageUsersBtn.removeClass("complement-button-selected")
            $messageUsersBtn.text("Message Selected People")
        } else if ($(".js-selected").length == 1) {
            $messageUsersBtn.text("Message 1 Person")
        } else {
            $messageUsersBtn.text("Message " + $(".js-selected").length + " People")
        }
    }

    function message_users (e) {
        e.preventDefault()
        if ( ! $(this).hasClass("complement-button-selected") ) {
            alert("Please select users to message first.")
        } else {
            var modal = $("#message-modal")
            var modalBody = $(".modal-body", modal)
            var modalHeader = $(".modal-header h3", modal)

            if ($(".js-selected").length == 1) {
                var header = "Send Message to 1 Person"
            } else {
                var header = "Send Message to " + $(".js-selected").length + " People"
            }

            modalHeader.html(header)
            modal.modal('show')
        }
    }

    function showProfileModal () {

        var modal = $("#profile-modal")
        var modalBody = $(".modal-body", modal)
        // var modalHeader = $(".modal-header h3", modal)

        // modalHeader.html(header)
        modal.modal('show')
    }




    // Pagination

    // Get the number of visible elements
    var numberPerPage = 3,
        totalVisible,
        totalPages,
        options

    var $result = $(".box", $("#results"))

    totalPagesShown()
    addPageNumbers()
    initializePaginator()
    visibleCount()

    function totalPagesShown () {
        totalVisible = $(".box[data-visible='true']", $("#results")).length
        totalPages = totalVisible / numberPerPage
        if (totalVisible % numberPerPage > 0) totalPages++
    }

    // Add the page number to each result
    function addPageNumbers () {
        var counter = 1,
            page = 1

        $.each($result, function () {
            if ( $(this).attr("data-visible") == "true" ) {
                $(this).attr("data-page", page)
                counter++
                if (counter >= (numberPerPage + 1)) {
                    counter = 1
                    page++
                }
            }

            // // on initial load only show items with page of 1
            if ( $(this).attr("data-page") != 1 ) {
                $(this).css("display", "none")
            }
        })
    }

    function initializePaginator () {
        console.log("total pages", totalPages)
        options = {
            currentPage: 1,
            totalPages: totalPages,
            numberOfPages: 5, // number of pagination to show
            onPageClicked: function (e, originalEvent, type, page) {
                console.log("Page item clicked, type: "+type+" page: "+page)
                $.each($result, function () {
                    if ( $(this).attr("data-page") != page ) {
                        $(this).css("display", "none")
                    } else $(this).css("display", "")
                })
            }
        }

        $('.pagination').bootstrapPaginator(options)
    }

    function visibleCount () {
        $("#visible-count").text($(".box[data-visible='true']").length)
        return $(".box[data-visible='true']").length
    }


    // Check the gender
    $("#filters input").on("change", function () {


        var genderSelected = $("input[name=gender]:checked").val()
        var licensedSelected = $("input[name=licensed]:checked").val()
        var occupationSelected = $("input[name=occupation]:checked").val()

        var atmosphereSelected = $('.data-working-atmosphere:checked').map(function() {
            return this.value
        }).get()


        $.each($result, function () {

            $(this).attr("data-visible", true)
            $(this).removeAttr("data-page")

            if ( (genderSelected != "all") && ($(this).attr("data-gender") != genderSelected) ) {
                $(this).attr("data-visible", false)
            } else {

                if ( (licensedSelected != "all") && ($(this).attr("data-licensed") != licensedSelected) ) {
                    $(this).attr("data-visible", false)
                } else {

                    if ( (occupationSelected != "all") && ($(this).attr("data-occupation") != occupationSelected) ) {
                        $(this).attr("data-visible", false)
                    } else {

                        // Check work atmosphere
                        console.log(atmosphereSelected)
                        if (atmosphereSelected.length > 0) {

                            var item = $(this).attr("data-workatm").split(',')
                            console.log(item)

                            var temp = false
                            $.each(item, function (index, value) {
                                console.log("value", value)
                                if ( $.inArray(value, atmosphereSelected) != -1) {
                                    // console.log("yes", value)
                                    temp = true
                                    console.log("yes", temp)
                                } else console.log("no")
                            })

                            if (temp) {

                                // continue

                            } else $(this).attr("data-visible", false)

                        }


                    }

                }

            }

        })

        totalPagesShown()
        addPageNumbers()
        var count = visibleCount()
        if (count != 0) {
            initializePaginator()
        }
        $("li.active a").trigger("click")
    })


})

</script>

{% endblock %}
