{% extends "layouts/base.html" %}

{% block content %}

<div class="container" id="search">
    <div class="row">
        <h4 class="centered">Search Workers</h4>
        <a href="" class="pull-right open-button small-button" style="margin-top: -40px">Message Selected Users</a>
        <div class="span3 box" id="filters">
            <p class="title">Gender</p>
        </div>
        <div class="span9" id="results">
            <div class="row">
                <p class="span3" style="margin-top:10px; margin-bottom: -10px">Found <span class="teal">10</span> Matching Profiles</p>
                <span class="pagination pull-right" style="margin: 0px">
                      <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                      </ul>
                </span>
            </div>

            <div class="row">


                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <h4>Anthony Tumbiolo | 24</h4>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <a href="" class="pull-right open-button small-button span1">Full Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <h4>Anthony Tumbiolo | 24</h4>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <a href="" class="pull-right open-button small-button span1">Full Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <h4>Anthony Tumbiolo | 24</h4>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <a href="" class="pull-right open-button small-button span1">Full Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <h4>Anthony Tumbiolo | 24</h4>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <a href="" class="pull-right open-button small-button span1">Full Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <h4>Anthony Tumbiolo | 24</h4>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <a href="" class="pull-right open-button small-button span1">Full Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <h4>Anthony Tumbiolo | 24</h4>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <a href="" class="pull-right open-button small-button span1">Full Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <h4>Anthony Tumbiolo | 24</h4>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <a href="" class="pull-right open-button small-button span1">Full Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <h4>Anthony Tumbiolo | 24</h4>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <a href="" class="pull-right open-button small-button span1">Full Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <h4>Anthony Tumbiolo | 24</h4>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <a href="" class="pull-right open-button small-button span1">Full Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <h4>Anthony Tumbiolo | 24</h4>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <a href="" class="pull-right open-button small-button span1">Full Profile</a>
                            </div>
                        </div>
                    </div>
                </div>

                <span class="pagination pull-right" style="margin: 0px">
                      <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                      </ul>
                </span>



            </div>


        </div>
    </div>
</div>

{% endblock %}
