{% extends "layouts/base.html" %}

{% block content %}

<div class="container" id="search">
    <div class="row">
        <h4 class="centered">Search Workers</h4>
        <a href="" class="pull-right open-button small-button" style="margin-top: -40px">Message Selected People</a>
        <div class="span3 box" id="filters">
            <p class="title">Gender</p>
            <input type="checkbox" name="vehicle" value="Bike">&nbsp;Male<br>
            <input type="checkbox" name="vehicle" value="Car">&nbsp;Female
            <hr>
            <p class="title">Licensed</p>
            <input type="radio" name="sex" value="male">&nbsp;Yes<br>
            <input type="radio" name="sex" value="female">&nbsp;No
            <hr>
            <p class="title">Age</p>
            <input type="checkbox" name="vehicle" value="Car">&nbsp;18-22<br>
            <input type="checkbox" name="vehicle" value="Bike">&nbsp;23-29<br>
            <input type="checkbox" name="vehicle" value="Car">&nbsp;30-29<br>
            <input type="checkbox" name="vehicle" value="Car">&nbsp;40+<br>
           <!--  <select class="span2">
                <option>18-22</option>
                <option>23-29</option>
                <option>30-39</option>
                <option>40+</option>
            </select> -->
            <hr>
            <p class="title">Wokring Atmosphere</p>
            <input type="checkbox" name="vehicle" value="Car">&nbsp;Sports Bar/Pub<br>
            <input type="checkbox" name="vehicle" value="Bike">&nbsp;Lounge<br>
            <input type="checkbox" name="vehicle" value="Car">&nbsp;Club<br>
            <input type="checkbox" name="vehicle" value="Car">&nbsp;High-End Bar/Restaurant<br>
            <input type="checkbox" name="vehicle" value="Bike">&nbsp;Wine Bar
            <hr>
            <p class="title">Availability</p>
            <input type="checkbox" name="vehicle" value="Car">&nbsp;Monday<br>
            <input type="checkbox" name="vehicle" value="Bike">&nbsp;Tuesday<br>
            <input type="checkbox" name="vehicle" value="Car">&nbsp;Wednesday<br>
            <input type="checkbox" name="vehicle" value="Car">&nbsp;Thursday<br>
            <input type="checkbox" name="vehicle" value="Bike">&nbsp;Friday<br>
            <input type="checkbox" name="vehicle" value="Bike">&nbsp;Saturday<br>
            <input type="checkbox" name="vehicle" value="Bike">&nbsp;Sunday
            <hr>
            <p class="title">Occupation</p>
            <input type="checkbox" name="vehicle" value="Car">&nbsp;Student<br>
            <input type="checkbox" name="vehicle" value="Bike">&nbsp;Professional<br>
        </div>
        <div class="span9" id="results">
            <div class="row">
                <p class="span3" style="margin-top:10px; margin-bottom: -10px">Found <span class="teal">10</span> Matching Profiles</p>
                <span class="pagination" style="margin: 0px">
                      <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                      </ul>
                </span>
                <a href="" class="js-add-all open-button small-button pull-right" style="margin-bottom: 5px">Add All to Message</a><br>
            </div>

            <div class="row">


                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span9 box">
                    <div class="row">
                        <div class="span2">
                            <img src="http://res.cloudinary.com/demo/image/facebook/w_100,h_100,c_fill/anthonytumbiolo.jpg" class="img-polaroid">
                        </div>
                        <div class="span6 info">
                            <a href=""><h4>Anthony Tumbiolo | 24</h4></a>
                            <i>Bartender</i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="span1">
                            <div class="row">
                                <a href="" class="js-add-message pull-right open-button small-button span1" style="margin-bottom: 5px">Add to Message</a><br>
                                <!-- <a href="" class="pull-right open-button small-button span1">Full Profile</a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <span class="pagination pull-right" style="margin: 0px">
                      <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                      </ul>
                </span>



            </div>


        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script type="text/javascript">

$(function () {

    var $body = $("body")
    var $addMessageBtn = $(".js-add-message")

    $body.on("click", ".js-add-all", add_all)
    $body.on("click", ".js-all-selected", remove_all)
    $body.on("click", ".js-add-message", add_to_list)
    $body.on("click", ".js-selected", remove_from_list)

    function add_all (e) {
        e.preventDefault()
        $(this).addClass("solid-button").addClass("js-all-selected")
        $addMessageBtn.addClass("solid-button").text("Added")
    }

    function remove_all (e) {
        e.preventDefault()
        $(this).removeClass("solid-button").removeClass("js-all-selected")
        $addMessageBtn.removeClass("solid-button").text("Add to Message")
    }

    function add_to_list (e) {
        e.preventDefault()
        $(this).addClass("solid-button").addClass("js-selected").text("Added")
    }

    function remove_from_list (e) {
        e.preventDefault()
        $(this).removeClass("solid-button").removeClass("js-selected").text("Add to List")
    }

})

</script>

{% endblock %}
