{% extends "layouts/static_page.html" %}

{% block static_title %}Terms and Conditions{% endblock %}

{% block static_content %}
<div class="tos-page">
    <p><em>[Updated January 28, 2014]</em></p>

    <p>
        By registering for an account with Impro, LLC doing business under the trade name
        Shiftor (&ldquo;Shiftor&rdquo; or the &ldquo;Company&rdquo;), accessing or using the Company&rsquo;s website
        &ldquo;Shiftor.co&rdquo; (the &ldquo;Website&rdquo; or &ldquo;Site&rdquo;), including any mobile applications, or using
        Shiftor&rsquo;s services (the &ldquo;Services&rdquo;) you are deemed to have read and agreed to the
        following terms and conditions or other information provided as part of the Services, you
        are entering into a legally binding agreement with the Company and agree to be bound by
        these Terms and Conditions and the Privacy Policy of the Website (collectively the
        &ldquo;Agreement&rdquo;). You must read and agree with all of the Terms and Conditions contained
        in this agreement and the Privacy Policy, which is incorporated by reference, before you
        use the Services. If you do not accept and agree to be bound by these Terms and
        Conditions and the Privacy Policy, do not use the Website or Services.
    </p>
    <p>
        If you do not want to register an account and become a member of Shiftor or a user of the
        Website or Services, do not enter into this Agreement, do NOT click &ldquo;Sign Up&rdquo; and do
        not access, view, download or otherwise use this Website or any Shiftor or Impro
        webpage, information or Services. By clicking &ldquo;Sign Up&rdquo; or using our Services, you
        acknowledge that you have read and understood the terms and conditions of this
        Agreement and that you agree to be bound by all of its provisions. By clicking &ldquo;Sign
        Up&rdquo;, you also consent to the use of electronic signatures and acknowledge your click of
        the &ldquo;Sign Up&rdquo; button as an electronic signature.
    </p>
    <p>
        The following terminology applies to these Terms and Conditions, Privacy Policy and
        any or all Agreements: &ldquo;Member&rdquo;, &ldquo;Client&rdquo;, &ldquo;Customer&rdquo;, &ldquo;You&rdquo;, and &ldquo;Your&rdquo;, or &ldquo;User&rdquo;
        (lower or uppercase) refers to you, the person or entity accessing this Website,
        contracting for the Company&rsquo;s Services and accepting the Company&rsquo;s terms and
        conditions. &ldquo;The Company&rdquo;, &ldquo;We&rdquo;, &ldquo;Us&rdquo;, &ldquo;Our&rdquo; and &ldquo;Our selves&rdquo;, refers to Shiftor.
        Any use of the above terminology or other words in the singular, plural, capitalization
        and/or he/she or they, are taken as interchangeable and therefore as referring to the same.
    </p>
    <p>
        <strong>User/Member Warranties.</strong> You hereby warrant and represent that you: (1) are an
        individual who is at least 18 years of age; (2) are not currently restricted from the
        Services, or not otherwise prohibited from having a Company account, (3) are currently
        eligible to work in the United States if you are using the Services to seek employment
        opportunities; (4) are not a competitor of the Company or are not using the Services for
        reasons that are in competition with the Company]; (5) will only maintain one Shiftor
        account at any given time; (6) will use your real name and only provide accurate
        information to the Company; (7) have full power, legal capacity, and authority to enter
        into this Agreement and doing so will not violate any other agreement to which you are a
        party; (8) will not violate any rights ofof the Company or third party, including
        intellectual property rights such as copyright or trademark rights; and (9) agree to provide
        at your cost all equipment, software, mobile access, and internet access necessary to use
        the Website and/or the Services.
    </p>
    <p>
        Please note that a majority of states have a minimum age requirement for bartending or
        serving alcoholic beverages in on-premises establishments such as restaurants and bars.
        New York, New Jersey and Connecticut prohibit persons from serving alcohol unless
        they are 18 years of age or older; other states have minimum age requirements ranging
        from 18 to 21 years of age. Consequently, a user or member who is below a required
        minimum age may not be eligible for some employment opportunities in those states.
        The Company makes no representation or warranty that the content published on this site
        complies with the local laws of your jurisdiction. You are solely responsible for knowing
        and understanding your local laws concerning standards of content legality and the
        applicability of the content to you and your use of our Services. Should you be unable to
        affirmatively make the representations and warranties contained herein, do not use the
        Services or this Website.
    </p>
    <p>
        <strong>Use of Material.</strong> The contents of the Website, such as text, graphics, images, logos,
        button icons, software and other content (the "Material"), are protected by applicable
        intellectual property and other laws. All Material is the property of the Company or its
        content suppliers or clients. The compilation (meaning the collection, arrangement and
        assembly) of all content on the Website is the exclusive property of the Company and is
        protected by copyright, trademark, and other laws.
    </p>
    <p>
        You must retain all copyright, trademark, service mark, and other proprietary notices
        contained in the original Material on any copy (permitted or not permitted) you make of
        any of the Material. Except as expressly authorized by the Company, You agree not to
        modify, copy, reproduce, sell, display, distribute, or create derivative works based on or
        contained within the Services or the Company&rsquo;s Material, in whole or in part. The use of
        the Material on any other Website or in a networked computer environment for any
        purpose is prohibited.
    </p>
    <p>
        The Company grants you a personal, non-transferable and non-exclusive right and license
        to use the Material on a single computer; provided that you do not copy, modify, create a
        derivative work of, reserve engineer, decompile, reverse assemble or otherwise attempt to
        discover any source code, sell, assign, sublicense, grant a security interest in or otherwise
        transfer any right in the Material. You agree not to modify the Material in any manner or
        form, or to use modified versions of the Material, including, without limitation, for the
        purpose of obtaining unauthorized access to the Service by any means other than through
        the interface that is provided by the Company for use in accessing the Service.
    </p>
    <p>
        The Services, Materials, offers, and information appearing on the Website are intended
        for United States of America Users only. We make no representation that information,
        Services or Materials on this site are appropriate or available for use in other countries or
        jurisdictions.
    </p>
    <p>
        The Company respects the intellectual property of others, and we ask our Users to do the
        same. The unauthorized reproduction, copying, distribution, modification, public display
        or public performance of trademarked or copyrighted works constitutes infringement of
        the owner's rights. As a condition to your use of the Website, you agree not to use the Website to infringe the intellectual property rights of others in any way. The Company will assist the respective owners of the various intellectual properties in order that they
        may protect their rights to the fullest extent of both domestic and international law. We
        reserve the right to take these actions at any time, in our sole discretion, with or without
        notice and without any liability to any User.
    </p>
    <p>
        The Company reserves the right to terminate the accounts of Users who violate this
        Agreement.
    </p>
    <p>
        <strong>Website Account/Your Membership.</strong> You have the option of registering a user or
        member account on the Website (an &ldquo;Account&rdquo;) that will require you provide certain
        personal information, registration information, without limitation, a valid email address
        and to establish a username and password. Please review the Privacy Policy to understand
        how the Company uses your Personal Information. Registering as a user or member and
        paying any applicable subscription/membership fees entitles you to the use of our
        Services, subject to your compliance with these Terms and Conditions.
    </p>
    <p>
        You are solely responsible for maintaining the confidentiality of your username and
        password, for restricting access to your computer, and for all activities that occur under
        your Account or password. Shiftor will not be liable for any loss that you may incur as a
        result of someone else using your Account or password, either with or without your
        knowledge or consent. The profile you create on the Website will be become part of your
        account with Shiftor and owned by the Company. However, between you and others,
        your account belongs to you. You agree to: (1) keep your password secure and
        confidential; (2) not permit others to access or use your account; (3) not use other&rsquo;s
        accounts; (4) not sell, trade, or transfer your Account to another party; and (5) not charge
        anyone for access to any portion of your Account or the Website, or any information
        therein. Further, you are responsible for anything that happens through your Account
        until you close down your Account or prove that your account security was compromised
        due to no fault of your own. To close your Account, please notify the Company by email
        at: <a href="mailto:Info@Shiftor.co">Info@Shiftor.co</a>.
    </p>
    <p>
        It is a condition of your use of this site that all the information you provide on this site
        will be correct, current, and complete. If our Company believes the information you
        provide is not correct, current, or complete, we have the right to refuse you access to this
        site or any of its resources, and to terminate or suspend your access at any time, without
        notice. Shiftor reserves the right to terminate any Account at any time in its sole
        discretion, including without limitation for any failure to comply with these Terms and
        Conditions, any fraud or abuse, or any misrepresentation that you or anyone using your
        Account may make to Shiftor.
    </p>
    <p>
        We reserve the right to withhold, remove or discard any content available as part of your
        account, with or without notice if deemed by us to be contrary to this Agreement. For
        avoidance of doubt, we have no obligation to store, maintain or provide you a copy of
        any content that you or other Members or Users provide when using the Services.
    </p>
    <p>
        You understand and acknowledge that you have no ownership rights in your account and
        that if you cancel your account or your account is terminated, all of your account
        information, including resumes, profiles, photos, marketing information, or other
        information or documentation you provided may be deleted from the Company&rsquo;s
        databases and will be removed from any public area of the Website. Information may
        continue to be available for some period of time because of delays in propagating such
        deletion through the Company&rsquo;s web servers. In addition, third parties may retain saved
        copies of your information.
    </p>
    <p>
        <strong>Payment for Services.</strong> To purchase Services on the Website, you must register for an
        Account and provide valid credit card and other payment information. You represent to
        us that all information you provide is accurate, complete, and current. If you purchase
        any Services that we offer for a fee, either on a one-time or subscription basis, you agree
        to the Company storing your payment information. You also agree to be responsible for
        and to pay all fees and charges incurred by you or through your Account including all
        applicable taxes and handling charges, if any, and to reimburse us for all collection costs
        and interest for any overdue amounts. Failure to pay may result in the termination of your
        Membership or use of our Services. We do not support all payment methods, currencies
        or locations for payment. All applicable taxes are calculated based on the billing
        information you provide us at the time of purchase. We do not guarantee refunds for lack
        of usage or dissatisfaction.
    </p>
    <p>
        Shiftor requires all payments to be made through a valid credit card or debit card from an
        issuer we accept or PayPal or similar online payment service and does not accept cash,
        check, wire transfer, or any other payment methods. By setting up an Account through
        the Website, you authorize Shiftor or its representatives to charge your credit card or to
        debit your account, for the amount stated and represent to Shiftor that you are authorized
        to use the card and/or payment information you provide. Shiftor is not responsible for any
        service or fulfillment errors that result from your failure to provide accurate information.
        All accounts and payments are subject to additional credit and other verification.
    </p>
    <p>
        <strong>Sales Tax.</strong> Services, including subscription or membership services, and products sold by
        Shiftor to residents of or businesses with a presence in the state of New York are subject
        to sales tax generally calculated on the price of the services provided. The tax rate applied
        generally will be the combined state and local rate for the exact address of the member or
        user to whom the services are provided.
    </p>
    <p>
        <strong>No Agency.</strong> You hereby agree and acknowledge that your provision of bartending, wait
        staff, or other restaurant or hospitality services and/or your use of our Services or this
        Website or any membership or account with the Company, does not confer or imply any
        contractor (independent or otherwise), agency, partnership, joint venture, employeeemployer
        or franchiser-franchisee relationship with Us. In no event shall you have
        authority to bind, commit, contract for, or otherwise obligate Shiftor in any manner
        whatsoever.
    </p>
    <p>
        <strong>Additional Terms Applicable to Employers.</strong> We are not to be considered an employer
        with respect to your use of the Website and we are not responsible for any employment
        decisions or terms, including any hiring or payment of wages, for whatever reason, made
        by you or any entity seeking or employing persons through the use of this Website or the
        Company&rsquo;s Services.
    </p>
    <p>
        Employee candidate profiles derived from User or employee candidate provided
        information may also be made available through the Website. We do not make any
        representations regarding the accuracy or validity of such derived works or their
        appropriateness for evaluation by employers. Derived profiles may vary significantly
        from User or employee candidate provided information.
    </p>
    <p>
        <strong>Use of Profile Information.</strong> You will use the employee candidate profiles in accordance
        with this Agreement, any other agreement you have with the Company, the Privacy
        Policy and all applicable privacy and data protection laws. You agree that you will not
        disclose any of the employee candidates&rsquo; profile information to any third-party without
        that individual&rsquo;s consent.
    </p>
    <p>
        You shall take appropriate physical, technical, and administrative measures to protect the
        data you have obtained from the Website from loss, misuse, unauthorized access,
        disclosure, alteration or destruction. You shall not share your login credentials with any
        other party.
    </p>
    <p>
        The profile information shall not be used:
    </p>
    <p>
        (a) for any purpose other than as an employer seeking bartending, wait staff or related
        services; or
    </p>
    <p>
        (b) to make unsolicited phone calls or faxes or send unsolicited mail, email, or
        newsletters to Website Users or to contact any individual unless they have agreed to be
        contacted (where consent is required or, if express consent is not required, who has not
        informed you that they do not want to be contacted).
    </p>
    <p>
        In order to ensure a safe and effective experience for all of our Members and Users, we
        reserve the right to limit the amount of data that may be accessed by you in any given
        time period. These limits may be amended in our sole and absolute discretion from time
        to time.
    </p>
    <p>
        <strong>Disputes Among Members; Release.</strong> You are solely responsible for your interactions
        with other Members and Users of this site and other users of the Company&rsquo;s Services,
        and we are not party to any such disputes. We reserve the right, but have no obligation, to
        monitor disputes between you and other Members and Users. You agree to release the
        Company, its officers, directors, agents, and employees from all claims, demands and
        damages (actual and consequential) of any kind and nature, known and unknown,
        suspected and unsuspected, disclosed and undisclosed, arising out of or in any way
        connected with any disputes between you and any other Members and Users.
    </p>
    <p>
        <strong>Our Rights and Obligations.</strong> We may change or discontinue Services, and in such case,
        we do not promise to keep showing or storing your information and materials.
    </p>
    <p>
        For as long as Shiftor continues to offer the Services, we shall provide and seek to
        update, improve and expand the Services. As a result, we allow you to access the Website
        as it may exist and be available on any given day and we have no other obligations,
        except as expressly stated in this Agreement. We may modify, replace, refuse access to,
        suspend or discontinue the Website, partially or entirely, or change and modify
        prices/fees for all or part of the Services for you or for all our Members in our sole
        discretion. All of these changes shall be effective upon their posting on the Website.
    </p>
    <p>
        <strong>Acceptable Site Use.</strong> Our Website may be used only for lawful purposes by individuals
        seeking the Services provided by Shiftor.
    </p>
    <p>
        <strong>Prohibited Uses of the Website.</strong> Users may not use or reference the Website in order to
        transmit, distribute, store or destroy material in violation of any applicable law or
        regulation, in a manner that will infringe the copyright, trademark, trade secret or other
        intellectual property rights of others or violate the privacy, publicity or other personal
        rights of others, or that is defamatory, obscene, threatening, abusive or hateful.
    </p>
    <h3>USERS ARE PROHIBITED FROM:</h3>
    <p>
        (a) transmitting, posting, distributing, storing or destroying material, including without
        limitation Website and Shiftor content, in violation of any applicable law or regulation,
        including but not limited to laws or regulations governing the collection, processing, or
        transfer of personal information, or in breach of the Privacy Policy;
    </p>
    <p>
        (b) accessing data not intended for such Member or User or logging into a server or account which the Member or User is not authorized to access;
    </p>
    <p>
        (c) implying or stating, directly or indirectly, that you are affiliated with or endorsed by
        the Company unless you have entered into a written agreement with the Company (this
        includes, but is not limited to, representing yourself as a certified bartender or having
        other qualifications or competences vetted by the Company);
    </p>
    <p>
        (d) attempting to probe, scan or test the vulnerability of a system or network or to breach
        security or authentication measures without proper authorization;
    </p>
    <p>
        (e) attempting to interfere with service to any Member or User, host or network,
        including, without limitation, via means of submitting a virus to the Website,
        overloading, "flooding," "spamming," "mailbombing" or "crashing";
    </p>
    <p>
        (f) sending unsolicited email, including promotions and/or advertising of products or
        services;
    </p>
    <p>
        (h) using any device, software or routine to interfere or attempt to interfere with the
        proper working of the Website or any activity being conducted on the Website;
    </p>
    <p>
        (i) taking any action that imposes an unreasonable or disproportionately large load on the
        Website's infrastructure;
    </p>
    <p>
        (j) using or attempting to use any engine, software, tool, agent or other device or
        mechanism (including, without limitation, browsers, spiders, robots, avatars and
        intelligent agents) to navigate, access, or search the Website other than the search engine
        and search agents available from the Company on the Website as well as generally
        available third-party Web browsers ;
    </p>
    <p>
        (k) attempting to decipher, decompile, disassemble or reverse-engineer any of the
        software comprising or in any way making up a part of the Website;
    </p>
    <p>
        (l) aggregating, copying or duplicating in any manner any of the materials or information
        available from the Website;
    </p>
    <p>
        (m) framing of or linking to any of the materials or information available from the
        Website unless authorized to do so;
    </p>
    <p>
        (n) providing false information of any kind;
    </p>
    <p>
        (o) posting any content or material that promotes or endorses false or misleading
        information or illegal activities, or endorses or provides instructional information about
        illegal activities or other activities prohibited by this Agreement;
    </p>
    <p>
        (p) deferring any contact from an employer to any agent, agency, or other third party;
    </p>
    <p>
        (q) posting content that contains restricted or password-only access pages, or hidden
        pages or images;
    </p>
    <p>
        (r) soliciting passwords or personally identifiable information from other Users;
    </p>
    <p>
        (s) deleting or altering any material posted by any other person or entity;
    </p>
    <p>
        (t) harassing, inciting harassment or advocating harassment of any group, company, or
        individual, User or Member;
    </p>
    <p>
        (u) promoting or endorsing an illegal or unauthorized copy of another person's
        copyrighted work, such as by providing or making available pirated computer programs
        or links to them, providing or making available information to circumvent manufactureinstalled
        copy-protect devices, or providing or making available pirated music or other
        media or links to pirated music or other media files;
    </p>
    <p>
        (v) using the Services for any unlawful purpose or any illegal activity, or posting or
        submitting any content or information that is defamatory, libelous, implicitly or explicitly
        offensive, vulgar, obscene, threatening, abusive, hateful, racist, discriminatory, of a
        menacing character or likely to cause annoyance, inconvenience, embarrassment, anxiety
        or could cause harassment to any person or include any links to pornographic, indecent or
        sexually explicit material of any kind, as determined by the Company in its sole and
        absolute discretion;
    </p>
    <p>
        (w) infringing or using Shiftor or Impro brand, logos or trademarks, including, without
        limitation, using the words &ldquo;Shiftor&rdquo; or &ldquo;Impro&rdquo; in any business name, email, or URL or
        including Shiftor or Impro trademarks and logos.
    </p>
    <p>
        The Company reserves the right to terminate the accounts of Users or Members found to
        be engaging in any of these prohibited uses. Violations of this Agreement may result in
        civil or criminal liability. The Company will investigate occurrences that may involve
        such violations and will cooperate with law enforcement authorities in prosecuting Users
        or Members who are involved in such violations.
    </p>
    <p>
        <strong>User Content and Contributions.</strong> By submitting ideas, suggestions, documents, or
        proposals (not including information subject to our Privacy Policy; "Contributions") to
        the Company through its suggestion or feedback web pages, you acknowledge and agree
        that: (a) your Contributions do not contain confidential or proprietary information; (b) the
        Company is not under any obligation of confidentiality, express or implied, with respect
        to the Contributions; (c) the Company shall be entitled to use or disclose (or choose not to
        use or disclose) such Contributions for any purpose, in any way, in any media worldwide;
        (d) the Company may have something similar to the Contributions already under
        consideration or in development; (e) you grant the Company a worldwide, non-exclusive,
        royalty-free, transferable, sub-licensable license to use, reproduce, adapt, distribute,
        exploit, and publish your Contributions; and (f) you are not entitled to any compensation
        or reimbursement of any kind from us under any circumstances.
    </p>
    <p>
        You understand that all information, data, text, software, music, sound, photographs,
        graphics, video, advertisements, messages or other materials submitted, posted or
        displayed by you on or through the Website ("User Content") is the sole responsibility of
        the person from which such User Content originated. The Company claims no ownership
        or control over any User Content. You or a third party licensor, as appropriate, retain all
        intellectual property rights to User Content you submit, post or display on or through the
        Website and you are responsible for protecting those rights, as appropriate.
    </p>
    <p>
        If you post User Content in any public area of the Website, you also permit any User to
        access, display, view, store, and reproduce such User Content for personal use. Subject to
        the foregoing, the owner of such User Content placed on the Website retains any and all
        rights that may exist in such User Content. The Company may review and remove any
        User Content that, in its sole judgment, violates this Agreement or applicable laws, rules
        or regulations, is abusive, disruptive, offensive or illegal, or violates the rights of, or
        harms or threatens the safety of, Users of the Website. The Company may take any action with respect to User Content that it deems necessary or appropriate in its sole discretion if it believes that such User Content could create liability for the Company, damage the our brands or public image, or cause the loss of (in whole or in part) the services of its ISPs or other suppliers.
    </p>
    <p>
        We do not represent or guarantee the truthfulness, accuracy, or reliability of User
        Content, derivative works from User Content, or any other communications posted by
        Users. We do not endorse any opinions expressed by Users. You acknowledge that any
        reliance on material posted by other Users will be at your own risk.
    </p>
    <p>
        <strong>Disclosure of User Information.</strong> You acknowledge, consent and agree that we may
        access, preserve, and disclose your registration and any other information you provide in
        accordance with the terms of our Privacy Policy, if required to do so by law or in a good
        faith belief that such access preservation or disclosure is reasonably necessary in our
        opinion to: (1) comply with legal process, including, but not limited to, civil and criminal
        subpoenas, court orders or other compulsory disclosures; (2) enforce this Agreement; (3)
        respond to claims of a violation of the rights of third parties, whether or not the third
        party is a Member, client, individual, or government agency; (4) respond to customer
        service inquiries; or (5) protect the rights, property, or personal safety of the Company,
        our Members or Users, or the public. Disclosures of Member or User information to
        third parties, other than those required to provide customer support, administer this
        agreement, or comply with legal requirements, are addressed in the Privacy Policy
    </p>
    <p>
        <strong>Notifications and Service Messages.</strong> For purposes of service messages and notices
        about our Services, we may place a banner notice across Website pages to alert you to
        certain changes such as modifications to this Agreement. Alternatively, notice may
        consist of an email from us to an email address associated with your Account, even if we
        have other contact information. You also agree that we may communicate with you
        through your Account or through other means including email, mobile number or
        telephone about your Account or services associated with Shiftor. You acknowledge and
        agree that we shall have no liability associated with or arising from your failure to do so
        maintain accurate contact or other information, including, but not limited to, your failure
        to receive critical information about the Services.
    </p>
    <h3>DISCLAIMER OF WARRANTIES</h3>
    <p>
        YOU UNDERSTAND AND AGREE THAT YOUR USE OF THE SHIFTOR
        WEBSITE IS ENTIRELY AT YOUR OWN RISK. THIS WEBSITE, INCLUDING ALL
        CONTENT, INFORMATION AND MATERIALS CONTAINED WITHIN IT AND
        ANY SITE-RELATED SERVICE, AND ALL SERVICES OR PRODUCTS LICENSED
        OR PURCHASED OR OTHERWISE MADE AVAILABLE THROUGH THE
        WEBSITE, ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS
        WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED,
        INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF
        MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
    </p>
    <p>
        THE COMPANY DOES NOT WARRANT THAT THE FUNCTIONS OF THE SITE
        WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE
        CORRECTED, OR THAT THIS WEBSITE OR THE SERVER THAT MAKES IT
        AVAILABLE AND THE INFORMATION, CONTENT, MATERIALS, PRODUCTS
        (INCLUDING SOFTWARE) OR SERVICES INCLUDED ON OR OTHERWISE
        MADE AVAILABLE TO YOU THROUGH THIS WEBSITE, SHIFTOR OR ITS
        REPRESENTATIVES&rsquo; SERVERS, OR ELECTRONIC COMMUNICATIONS SENT
        FROM SHIFTOR OR ITS REPRESENTATIVES ARE FREE FROM VIRUSES OR
        OTHER HARMFUL COMPONENTS. THE COMPANY DOES NOT WARRANT OR
        MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF
        THE USE OF THE MATERIALS ON THIS SITE IN TERMS OF THEIR
        CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE.
    </p>
    <p>
        WE MAKE NO REPRESENTATIONS OR WARRANTIES REGARDING THE
        QUALIFICATIONS, COMPETENCE, FITNESS FOR, OR PERSONAL OR
        PROFESSIONAL BACKGROUND OF, ANY BARTENDER, WAIT STAFF OR
        OTHER PERSON OR PERSONNEL WHO MAY BE OR IS EMPLOYED BY YOU
        THROUGH YOUR USE OF OUR SERVICES OR THIS WEBSITE.
    </p>
    <p>
        THE COMPANY SPECIFICALLY DISCLAIMS ANY LIABILITY, LOSS OR RISK
        INCURRED DIRECTLY OR INDIRECTLY BY THE USE OF THE WEBSITE,
        MATERIALS, AND SERVICES.
    </p>
    <h3>DISCLAIMER AND LIMITATION OF LIABILITY</h3>
    <p>
        YOU EXPRESSLY UNDERSTAND AND AGREE THAT THE COMPANY AND ITS
        SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS
        AND LICENSORS SHALL NOT BE LIABLE TO YOU FOR ANY PUNITIVE,
        INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY
        DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF
        PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF
        THE COMPANY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
        DAMAGES), RESULTING FROM: (a) THE USE OR THE INABILITY TO USE THE
        COMPANY&rsquo;S SERVICES; (b) THE COST OF PROCUREMENT OF SUBSTITUTE
        GOODS AND SERVICES; (c) UNAUTHORIZED ACCESS TO OR ALTERATION OF
        YOUR TRANSMISSIONS OR DATA; OR (e) ANY OTHER MATTER RELATING
        TO THE SERVICES.
    </p>
    <p>
        THIS DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY
        CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION,
        INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR
        TRANSMISSION, COMPUTER VIRUS, ACT OF GOD/ACT OF NATURE,
        COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR
        UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF RECORD,
        WHETHER FOR BREACH OF CONTRACT, TORTIOUS BEHAVIOR,
        NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION.
    </p>
    <p>
        IF YOU ARE DISSATISFIED OR HARMED BY US OR ANYTHING RELATED TO
        SHIFTOR OR ITS SERVICES, YOU MAY CLOSE YOUR ACCOUNT AND
        TERMINATE THIS AGREEMENT AND SUCH TERMINATION SHALL BE YOUR
        SOLE AND EXCLUSIVE REMEDY.
    </p>
    <p>
        THE COMPANY IS NOT INVOLVED WITH ANY DECISION-MAKING OR
        OFFERS MADE FROM COMPANIES OTHER THAN ITS OWN. WE DO NOT
        GUARANTEE THAT USE OF THE WEBSITE OR THE SERVICES WILL RESULT
        IN EMPLOYMENT OPPORTUNITIES, CONTINUED EMPLOYMENT, OR HIRING
        OPPORTUNITIES. WE DO NOT GUARANTEE OR WARRANT THE PAYMENT OF
        WAGES OF ANY AMOUNT. WE DO NOT VERIFY OR WARRANT THE
        VERACITY OF ANY COMMUNICATION OR INFORMATION PROVIDED BY
        MEMBERS OR USERS.
    </p>
    <h3>EXCLUSIONS AND LIMITATIONS</h3>
    <p>
        SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN
        WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR
        INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF
        THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
    </p>
    <h3>INDEMNIFICATION</h3>
    <p>
        YOU AGREE TO INDEMNIFY, DEFEND, AND HOLD HARMLESS IMPRO , ITS
        SUBSIDIARIES, AFFILIATES, AGENTS, SHAREHOLDERS, OFFICERS,
        DIRECTORS, CONTRACTORS, VENDORS, EMPLOYEES, LICENSORS,
        SUPPLIERS AND ANY THIRD-PARTY INFORMATION PROVIDERS TO THE
        COMPANY FROM AND AGAINST ALL LIABILITIES, CLAIMS, LOSSES,
        EXPENSES, DAMAGES AND COSTS, INCLUDING WITHOUT LIMITATION
        ATTORNEYS&rsquo; FEES, BODILY INJURY CLAIMS, PROPERTY DAMAGE, LOSS OF
        TIME AND/OR INCONVENIENCE, DUE TO OR ARISING IN CONNECTION WITH
        SERVICES PROVIDED BY SHIFTOR OR YOUR USE OF THE WEBSITE,
        SERVICES, OR MATERIALS, REGARDLESS OF CAUSE OR FAULT, THE
        VIOLATION OF THIS AGREEMENT BY YOU OR ANY VIOLATION OR ANY
        ACTIVITY RELATED TO YOUR ACCOUNT (INCLUDING NEGLIGENT OR
        WRONGFUL CONDUCT) BY YOU OR ANY OTHER PERSON ACCESSING YOUR
        ACCOUNT, OR THE INFRINGEMENT BY YOU, OR ANY OTHER USER OF THE
        WEBSITE, SERVICES OR MATERIALS THROUGH THE USE OF YOUR
        COMPUTER OR ACCOUNT, OF ANY INTELLECTUAL PROPERTY OR OTHER
        RIGHT OF ANY PERSON OR ENTITY. THE COMPANY RESERVES THE RIGHT
        TO ASSUME THE EXCLUSIVE DEFENSE AND CONTROL OF ANY MATTER
        OTHERWISE SUBJECT TO INDEMNIFICATION BY YOU.
    </p>
    <h3>COMPLIANCE WITH ALL APPLICABLE LAWS</h3>
    <p>
        THIS AGREEMENT IS SUBJECT TO ALL APPLICABLE FEDERAL, STATE, AND
        LOCAL LAWS, INCLUDING DATA PROTECTION AND PRIVACY LAWS,
        ALCOHOLIC BEVERAGE CONTROL LAWS AND DRAM SHOP LAWS. YOU,
        THE MEMBER OR USER, REPRESENT AND WARRANT THAT YOU, YOUR
        COMPANY, BUSINESS, RESTAURANT, CLUB, HOTEL, VENUE, BAR, PRIVATE
        ESTABLISHMENT OR OTHER BUSINESS, SHALL COMPLY WITH ANY AND
        ALL APPLICABLE LAW(S) AND REGULATIONS, INCLUDING, WITHOUT
        LIMITATION, THOSE REGARDING THE USE, SALE OR SERVING OF
        ALCOHOLIC BEVERAGES INCLUDING, WITHOUT LIMITATION, ANY AND
        ALL LICENSING REQUIREMENTS AND REQUIRED VERIFICATION OF LEGAL
        DRINKING AGE AND THE MONITORING OF THE SERVING OF ALCOHOLIC
        BEVERAGES TO INCOMPETENT OR INTOXICATED INDIVIDUALS; AND YOU
        ASSUME ALL RESPONSIBILITY FOR COMPLIANCE WITH ANY SUCH LAWS
        APPLICABLE TO YOU AND/OR YOUR BUSINESS.
    </p>
    <h3>LIABILITY WAIVER</h3>
    <p>
        SHIFTOR DOES NOT ENCOURAGE OR OTHERWISE ENDORSE THE OVER
        CONSUMPTION OF ALCOHOLIC BEVERAGES. MEMBERS AND USERS
        ASSUME ALL LIABILITY FOR THEMSELVES AND THEIR PATRONS OR
        GUESTS FOR ANY VIOLATION OF APPLICABLE LAWS OR ANY FORM OF
        NEGLIGENCE ARISING FROM THE SERVING OR CONSUMPTION OF
        ALCOHOL OR FOOD. SHOULD ANY CUSTOMER, PATRON, OR EMPLOYEE OF
        YOURS, OR ANY PERSON YOU EMPLOY OR CONTRACT WITH THROUGH
        THE USE OF OUR SERVICES OR THIS WEBSITE BECOME ILL AND/OR
        INJURED WHILE UNDER THE INFLUENCE OF ALCOHOL, YOU, THE
        CUSTOMER OR SUCH OTHER PERSON, AS THE CASE MAY BE, ASSUME ALL
        RESPONSIBILITY AND LIABILITY FOR ANY CLAIMS, FINANCIAL EXPENSES,
        INCLUDING MEDICAL BILLS AND ATTORNEYS&rsquo; FEES, AND ANY REPAIRS TO
        OR REPLACEMENT OF DAMAGED REAL OR PERSONAL PROPERTY.
    </p>
    <p>
        WE ARE NOT AND YOU WILL NOT HOLD US RESPONSIBLE FOR (1)
        LIABILITY AND DAMAGES INCURRED AS A RESULT OF SERVING
        ALCOHOLIC BEVERAGES TO A MINOR OR MENTALLY INCOMPETENT
        PERSON OR TO AN INTOXICATED PERSON, (2) ALLOWING AN UNDERAGE
        PERSON TO SERVE ALCOHOLIC BEVERAGES IN VIOLATION OF APPLICABLE
        LAW, AND (3) ANY LIABILITY OR DAMAGES INCURRED UNDER THE DRAM
        SHOP ACT, NEW YORK GENERAL OBLIGATIONS LAW 11-101, OR SIMILARLY
        APPLICABLE STATE OR FEDERAL LAWS. MEMBER/CLIENT/USER
        MAINTAINS SOLE RESPONSIBILITY FOR ALL INJURIES OR DAMAGES
        CAUSED BY ANY FOOD OR BEVERAGE SERVED AT ITS PROPERTY,
        ESTABLISHMENT, VENUE, EVENT, OR PREMISES.
    </p>
    <p>
        <strong>Choice of Law and Forum.</strong> Each of us agree that the Terms and Conditions, the Privacy
        Policy, and the relationship between the parties shall be governed by the laws of the State
        of New York without regard to its conflict of law provisions and that any and all claims or disputes arising out of or relating to your use of the Website or to services or products sold or distributed by Impro through the Website, shall be brought exclusively in the state or federal courts located in the County of New York, State of New York, and we each agree to submit to the personal jurisdiction of those courts, and agree to waive any and all objections to the exercise of jurisdiction over the parties by such courts and to venue in such courts.
    </p>
    <p>
        THE PARTIES AGREE THAT THIS AGREEMENT HAS BEEN ENTERED INTO AT
        THE COMPANY&rsquo;S PLACE OF BUSINESS IN NEW YORK, NEW YORK AND ANY
        LEGAL ACTION OR PROCEEDING ARISING OUT OF OR RELATING TO THIS
        AGREEMENT MUST BE COMMENCED AND TAKE PLACE IN ANY STATE OR
        FEDERAL COURT SITUTATED IN NEW YORK, NEW YORK.
    </p>
    <p>
        <strong>Changes to the Terms and Conditions.</strong> Impro reserves the right to modify these Terms
        and Conditions from time to time at our sole discretion and without any notice. Changes
        to our Terms and Conditions become effective on the date they are posted and your
        continued use of the Website after any changes to Terms and Conditions will signify your
        agreement to be bound by them.
    </p>
    <p>
        <strong>Links to Other Sites.</strong> The Website may contain links to third-party websites. The
        Company provides these links as a convenience only and does not endorse any of these
        sites. The Company is not responsible for the content of linked third-party sites and does
        not make any representations regarding the content or accuracy of materials on such
        third-party websites. If you decide to access linked third-party websites, you do so at your
        own risk.
    </p>
    <p>
        <strong>No Resale or Unauthorized Commercial Use.</strong> You agree not to reproduce, duplicate,
        copy, sell, trade, resell or exploit for any commercial purposes, any portion or use of, or
        access to the Website, Services or Material.
    </p>
    <p>
        <strong>Termination.</strong> This Agreement will remain in full force and effect while you are a
        Member of User of the Website or Services. The Company reserves the right, at its sole
        discretion, to terminate this Agreement and your account at any time, with or without
        notice to you. The Company reserves the right to pursue all of its legal remedies upon
        any breach by a User of this Agreement.
    </p>
    <p>
        We may restrict, suspend or terminate the account of any Member or User who abuses or
        misuses the Website or the Services. Misuse of the Website or Services includes creating
        multiple or false profiles or registrations; using the Services commercially without our
        authorization, infringing any intellectual property rights, violating any of the terms of this
        Agreement, or any other behavior that the Company, in its sole discretion, deems
        contrary to its purpose. Upon termination of your Account, you lose access to the
        Services. The terms of this Agreement shall survive any termination, except the Section
        entitled &ldquo;Website Account/Your Membership&rdquo;.
    </p>
    <p>
        <strong>Intellectual Property Notices.</strong> The Services include the copyrights and intellectual
        property rights of Impro and except for any limited license granted to you herein, we
        reserve all of our intellectual property rights in the Services. Impro and Shiftor, Company
        logos and other Company trademarks, service marks, graphics, and logos used in
        connection with Impro or Shiftor are trademarks or registered trademarks of Impro in the
        United States and/or other countries. Other trademarks and logos used in connection with
        the Website or Services may be the trademarks of their respective owners. This
        Agreement does not grant you any right or license with respect to any such trademarks
        and logos.
    </p>
    <p>
        <strong>Notification of Claimed Copyright or Trademark Infringement.</strong> If you believe that
        your copyrighted work or trademark has been uploaded, posted or copied to the Website
        and is accessible on the Website in a way that constitutes copyright or trademark
        infringement, please contact the Company by email at: Setup@Shifor.co or by regular
        mail at:
    </p>
    <h3>NOTICES AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT
INFRINGEMENT</h3>
    <p>
        Pursuant to Title 17, United States Code, Section 512(c)(2), notifications of claimed
        copyright infringement under United States copyright law should be sent to Service
        Provider's Designated Agent. ALL INQUIRIES NOT RELEVANT TO THE
        FOLLOWING PROCEDURE WILL RECEIVE NO RESPONSE. See Reporting Claims
        of Copyright Infringement.
    </p>
    <p class="underline-bold">Reporting Claims of Copyright Infringement</p>
    <p>
        We take claims of copyright infringement seriously. We will respond to notices of
        alleged copyright infringement that comply with applicable law. If you believe any
        materials accessible on or from this Website infringe your copyright, you may request
        removal of those materials from the Website by submitting written notification to our
        Copyright Agent (designated below). In accordance with the Online Copyright
        Infringement Liability Limitation Act of the Digital Millennium Copyright Act (17
        U.S.C. &sect; 512) ("DMCA"), the written notice (the "DMCA Notice") must include
        substantially the following:
    </p>
    <ul>
        <li>Your physical or electronic signature.</li>
        <li>
            Identification of the copyrighted work you believe to have been infringed or, if the claim involves multiple works on the Site, a representative list of such works.
        </li>
        <li>
            Identification of the material you believe to be infringing in a sufficiently precise
            manner to allow us to locate that material.
        </li>
        <li>
            Adequate information by which we can contact you (including your name, postal address, telephone number and, if available, e-mail address).
        </li>
        <li>
            A statement that you have a good faith belief that use of the copyrighted material is not authorized by the copyright owner, its agent or the law.
        </li>
        <li>
            A statement that the information in the written notice is accurate.
        </li>
        <li>
            A statement, under penalty of perjury, that you are authorized to act on behalf of
            the copyright owner.
        </li>
    </ul>
    <p>
        Our designated Copyright Agent to receive DMCA Notices is:
    </p>
    <p>
        Kent, Beatty &amp; Gordon, LLP<br/>
        Attn: Michael Kent<br/>
        425 Park Ave. Fl 31<br/>
        New York, NY 10022<br/>
    </p>
    <p>
        If you fail to comply with all of the requirements of Section 512(c)(3) of the DMCA,
        your DMCA Notice may not be effective.
    </p>
    <p>
        Please be aware that if you knowingly materially misrepresent that material or activity on
        the Site is infringing your copyright, you may be held liable for damages (including costs
        and attorneys' fees) under Section 512(f) of the DMCA.
    </p>
    <p>
        If you believe that material you posted on the site was removed or access to it was
        disabled by mistake or misidentification, you may file a counter-notification with us (a
        "Counter-Notice") by submitting written notification to our copyright agent (identified
        below). Pursuant to the DMCA, the Counter-Notice must include substantially the
        following:
    </p>
    <ul>
        <li>
            Your physical or electronic signature.
        </li>
        <li>
            An identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access disabled.
        </li>
        <li>
            Adequate information by which we can contact you (including your name, postal address, telephone number and, if available, e-mail address).
        </li>
        <li>
            A statement under penalty of perjury by you that you have a good faith belief that the material identified above was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled.
        </li>
        <li>
            A statement that you will consent to the jurisdiction of the Federal District Court
            for the judicial district in which your address is located (or if you reside outside
            the United States for any judicial district in which the Site may be found) and that
            you will accept service from the person (or an agent of that person) who provided
            the Site with the complaint at issue.
        </li>
    </ul>
    <p>Completed Counter-Notices should be sent to:</p>
    <p>
        Kent, Beatty &amp; Gordon, LLP<br/>
        Attn: Michael Kent<br/>
        425 Park Ave. Fl 31<br/>
        New York, NY 10022<br/>
    </p>
    <p>
        The DMCA allows us to restore the removed content if the party filing the original
        DMCA Notice does not file a court action against you within ten business days of
        receiving the copy of your Counter-Notice.
    </p>
    <p>
        Please be aware that if you knowingly materially misrepresent that material or activity on
        the Site was removed or disabled by mistake or misidentification, you may be held liable
        for damages (including costs and attorneys' fees) under Section 512(f) of the DMCA.
    </p>
    <p>
        [It is our policy in appropriate circumstances to disable and/or terminate the accounts of
        users who are [repeat] infringers.]
    </p>
    <p>
        <strong>Reserved Right of Refusal.</strong> The Company, in its sole discretion, reserves the right to
        refuse your request for an account or membership, or refuse you any involvement with
        Our Services or Material, or to delete your assigned User name and password if you
        breach any of the terms of this Agreement.
    </p>
    <p>
        <strong>Modifications to Terms and Conditions.</strong> The Company reserves the right at any time
        and from time to time to modify or discontinue, temporarily or permanently, the Services
        or Material (or any part thereof) with or without notice. You agree that the Company
        shall not be liable to you or to any third party for any modification, suspension or
        discontinuance of the Services or any Material.
    </p>
    <p>
        <strong>Email Policy.</strong> If you receive an email from the Company, its affiliates, or other third
        parties, your email address was obtained as a result of either your express and voluntarily
        request to receive information from the Company, its affiliates, or other third parties, or
        your existing relationship with the Company, its affiliates, or other third parties. Each
        email sent contains an automated method to &ldquo;opt out&rdquo; of receiving additional emails from
        the Company or its affiliates. If you no longer wish to receive emails from the Company
        or its affiliates, please follow the instructions at the end of any email. If you remove your
        information from the Company&rsquo;s database, it will no longer be used by us for secondary
        purposes, disclosed to third parties, or used by us or third parties to send promotional
        correspondence to you.
    </p>
    <p>
        <strong>Detailed Wireless Policy.</strong> Data obtained from you in connection with this SMS service
        may include your name, address, cell phone number, your provider's name, and the date,
        time, and content of your messages. In addition to any fee of which you are notified,
        your provider's standard messaging rates apply to our confirmation and all subsequent
        SMS correspondence. All charges are billed by and payable to your mobile service
        provider. We will not be liable for any delays in the receipt of any SMS messages, as
        delivery is subject to effective transmission from your network operator. SMS message
        services are provided on an &ldquo;AS IS&rdquo; basis. You may opt-out and remove your SMS
        information by sending "STOP", "END", or "QUIT" to the SMS text message you have
        received. If you remove your SMS information from our database, it will no longer be
        used by us for secondary purposes, disclosed to third parties, or used by us or third parties
        to send promotional correspondence to you. You may also send an email to: <strong>Info@Shiftor.co</strong> with your wireless number and the words &ldquo;Stop&rdquo;, &ldquo;Quit&rdquo;, or &ldquo;End&rdquo; in the body to be removed.
    </p>
    <p>
        <strong>Entire Agreement</strong> These Terms and Conditions, including the Privacy Policy, constitute
        the entire agreement between you and the Company and govern your use of the Services
        and Materials, superseding any prior version of this Terms and Conditions between you
        and the Company. You also may be subject to additional terms and conditions that may
        apply when you use or purchase certain other Company services, affiliate services, thirdparty
        content or third-party software.
    </p>
    <p>
        <strong>Assignment and Delegation.</strong> You may not assign or delegate any rights or obligations
        under the Agreement. Any purported assignment and delegation shall be ineffective. We
        may freely assign or delegate all rights and obligations under the Agreement, fully or
        partially without notice to you. We may also substitute, by way of unilateral novation,
        effective upon notice to you, Shiftor for any third party that assumes our rights and
        obligations under this Agreement.
    </p>
    <p>
        <strong>Captions.</strong> The section titles in this Agreement are for convenience only and have no
        legal or contractual effect.
    </p>
    <p>
        <strong>Waiver and Severability of Terms.</strong> The failure of the Company to exercise or enforce
        any right or provision of this Agreement shall not constitute a waiver of such right or
        provision. If any provision of the Agreement is found by a court of competent jurisdiction
        to be invalid, the parties nevertheless agree that the court should endeavor to give effect
        to the parties' intentions as reflected in the provision, and the other provisions of the
        Agreement remain in full force and effect.
    </p>
    <p>
        <strong>Reservation of Rights.</strong> We reserve all rights not expressly granted in this Agreement,
        including, without limitation, title, ownership, intellectual property rights, and all other
        rights and interest in Impro and Shiftor and all related items, including any and all copies
        made of the Website.
    </p>
    <p>
        We reserve the right to remove any content from the Website, which in our opinion does
        not comply with the terms of this Agreement, or if any content is posted that we believe
        is not in our best interests.
    </p>
    <p>
        If at any time during your use of the Services, you made a misrepresentation of fact to us
        or otherwise misled us with regard to the nature of your experience or business activities,
        we will have grounds to terminate your use of the Services.
    </p>
    <p>
        Copyright &copy; 2013 Impro, LLC | info at: Shiftor.co
    </p>
</div>


{% endblock %}