{% extends "layouts/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="centered span8 offset2">
            <h1>Connected Phone Numbers</h1>
            {% if numbers %}
                <ul>
                {% for number in numbers %}
                    <li>
                        {% if not number.verified %}
                        <a href="{% url 'tel.views.verify_number' pk=number.pk %}">{{ number }}</a> [unverified]

                        {% else %}
                        {{ number }} [verified!] <form action="{% url 'tel.views.delete_number' pk=number.pk %}" method="POST">{% csrf_token %}<button type="submit" class="btn">delete</button></form>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
            <h3>No numbers!</h3>
            <br>
            <a class="open-button" href="{% url 'tel.views.add_number' %}">Add a number</a>
            <br><br><br>
            <p>Why should I add a phone number? If you connect a phone number we can send you text notifications when jobs are available.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}